{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }} - Saison {{ season.number }} - Épisode {{ episode.number }}
{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="series-title">{{ program.title }} - Saison {{ season.number }} - Épisode {{ episode.number }}</h1>
            <h2 class="card-title">{{ episode.title }}</h2>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>

    <a href="{{ path('program_season_show', {'slug': program.slug, 'seasonId': season.id}) }}" class="btn btn-secondary">
        Retour à la saison
    </a>
{% endblock %}
