{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="series-title">Toutes les séries</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    {{ form_end(form) }}

    <a href="{{ path('program_new') }}" class="btn btn-success">Ajouter une série</a>

    {% for program in programs %}
        <div class="card mb-3">
            <div class="card-body">
                <img class="card-img" alt="image" src="{{ vich_uploader_asset(program) }}">
                <h2 class="card-title">{{ loop.index }} - {{ program.title }} </h2>
                <h3 class="card-category"> Catégorie : {{ program.category.name }}</h3>
                <p class="card-text">{{ program.synopsis }}</p>
                <a href="{{ path("program_show", { slug: program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
                <p class="card-text">Acteurs: {% for actor in program.actors %}{{ actor.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                {#EDITION#}
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-warning" href="{{ path('program_app_program_edit', { 'slug': program.slug} ) }}">Éditer</a>
                {%endif%}
                {#SUPPRESSION#}
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-danger" href="{{ path('program_app_program_delete', { 'slug': program.slug} ) }}" onclick="event.preventDefault(); if (confirm('Etes vous sur de vouloir supprimer cette série dans sa totalité?')) { document.getElementById('delete-form-{{ program.slug }}').submit(); }">Supprimer</a>
                {%endif%}
                <form id="delete-form-{{ program.slug }}" action="{{ path("program_app_program_delete", { slug: program.slug }) }}" method="post" style="display: none;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.slug) }}">
                </form>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}" class="btn btn-secondary">
        Retour à l'accueil
    </a>
{% endblock %}