{% extends 'base.html.twig' %}

{% block title %}
    {{ program.title }} - Saison {{ season.number }}
{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <img class="card-img align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="series-title mt-0">{{ program.title }} - Saison {{ season.number }}</h1>
                <p>{{ season.description }}</p>
                <p>Année de sortie : {{ season.year }}</p>
            </div>
        </div>
    </div>

    {% for episode in season.episodes %}
        <div class="card mb-3">
            <div class="card-bodyEpisode">
                <h2 class="card-title">
                    <a href="{{ url('program_episode_show', {'slug': program.slug, 'seasonId': season.id, 'episodeSlug': episode.slug}) }}">
                        Épisode {{ episode.number }} - {{ episode.title }}
                    </a>
                </h2>
                <p class="card-text">{{ episode.synopsis }}</p>
            </div>
        </div>
    {% endfor %}

    <a href="{{ path('program_show', {'slug': program.slug}) }}" class="btn btn-secondary">
        Retour à la série
    </a>
{% endblock %}
