{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <h1 class="series-title">{{ program.title }}</h1>
    <div class="card mb-3">
        <div class="card-body">
            <img class="card-img" alt="image" src="{{ program.poster }}">
            <h2 class="card-title">{{ program.title }} </h2><br>
            <h3 class="card-category"> Catégorie : {{ program.category.name }}</h3>
            <p class="card-text">{{ program.synopsis }}</p><br>
            <p class="card-text">Durée: {{ programDuration }}</p>
            <h2 class="card-title">Saisons</h2>
            <ul class="ul-program">
                {% for season in program.seasons %}
                    <a class="link-season" href="{{ path('program_season_show', {'slug': program.slug, 'seasonId': season.id}) }}">Saison -> {{ season.number }}</a>
                <br>
                {% endfor %}
            </ul>

            <h1>Acteurs :</h1>
            <ul class="actors-list">
                {% for actor in program.actors %}
                    <li>{{ actor.name }}</li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}" class="btn btn-secondary">
        Retour à l'accueil
    </a>
{% endblock %}
