<!DOCTYPE html>
<html lang="fr">
     <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/fav.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body {{ stimulus_controller('theme') }} {{ stimulus_target('theme', 'body') }}>
        <button {{ stimulus_action('theme', 'toggleDarkMode') }}>Toggle dark mode</button>
        <header>
            {% include '_navbar.html.twig' %}
        </header>

        <div class="d-flex">
             <aside class="d-flex flex-column px-3">
                {{ component('LastEpisode') }}
             </aside>

            <main>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                      {{ message }}
                    </div>
                 {% endfor %}

                 {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                         {{ message }}
                     </div>
                 {% endfor %}

                {% block body %}{% endblock %}
            </main>
        </div>

        <footer class="bg-body-tertiary text-center text-lg-start">
            <div class="text-center p-3">
                © 2020 Copyright: Julie Raymond
                <a class="text-body" href="https://www.linkedin.com/in/julie-raymond-5b391a162/">Mon LinkedIn</a>
            </div>
        </footer>
    </body>
</html>
